.update-page-container {
	margin-top: 25px;
	flex-flow: column;
	flex-wrap: wrap;
	text-align: center;
}

.update-form {	
	text-align: center;
}

.update-profile-label {
	display: inline;
	font-family: 'Outfit', 'sans-serif';
	margin-bottom: 10px;
}

.update-profile-field {
	font-family: 'Outfit', 'sans-serif';
	margin-bottom: 10px;
	height: 25px;
}
.update-info-button {
	margin-top: 25px;
	width: 150px;
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	color: white;
	background-color: cadetblue;
}
