.nav-bar-wrapper {
	height: 100px;
	display: flex;
	background-color: cadetblue;
	align-items: center;
	justify-content: flex-end;
}

.nav-button {
	margin: 10px;
	width: 100px;
	background-color: rgb(255, 255, 250);
	font-family: 'Outfit', sans-serif;
}

.page-title {
	color: rgb(255, 255, 250);
	font-size: 50px;
	position: absolute;
	left: 10px;
	top: 33px;
}