.movie-list {
	display: flex;
	overflow: auto;
}

.movie-card {
	border: 1px solid gray;
 	width: 300px;
 	height: 500px;
 	margin: 10px;
	 padding-bottom: 30px;
}

.card-title {
	margin-bottom: 15px;
}

.movie-img {
	width: 280px;
	height: 420px;
}

.card-actions {
	text-align: center;
}