.movie-list {
	display: flex;
	overflow: auto;
}

.movie-card {
	border: 1px solid rgb(199, 199, 199);
 	width: 300px;
 	height: 75%;
 	margin: 10px;
	//  padding-bottom: 30px;
	 background-color: rgb(255, 255, 250);
	 font-family: 'Outfit', sans-serif;
}

.card-title {
	margin-bottom: 30px;
}

.movie-img {
	width: 280px;
	height: 420px;
}

.card-actions {
	text-align: center;

}

.action-button {
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	color: black;
}