.body {
	height: 100vh;
}

.movie-list {
	display: flex;
	overflow: auto;
	
}

.movie-card {
	border: 1px solid rgb(199, 199, 199);
 	width: 300px;
 	height: 75%;
 	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	margin-bottom: auto;
	background-color: rgb(255, 255, 250);
	font-family: 'Outfit', sans-serif;
}

.card-title {
	margin-bottom: 30px;
}

.movie-img {
	width: 280px;
	height: 420px;
	margin-bottom: -10px;
}

.card-actions {
	text-align: center;
}

.action-button {
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	color: black;
}

.favorite-button { 
	color: black;
	margin-left: 240px;
	font-size: 35px;
	opacity: 1;
}

.favorite-button:hover {
	cursor: pointer;
	opacity: .75;
}

.favorite-active { 
	color: red;
	margin-left: 240px;
	font-size: 35px;	
	opacity: 1;
}

.favorite-active:hover {
	cursor: pointer;
	opacity: .75;
}