.profile-page-container {
	margin-top: 25px;
	flex-flow: column;
	flex-wrap: wrap;
	text-align: center;
}

.profile-field {
	font-family: 'Outfit', 'sans-serif';
	text-align: center;
}

.update-info-button {
	margin-top: 25px;
	width: 150px;
	font-family: 'Outfit', sans-serif;
	font-weight: bold;
	color: white;
	background-color: cadetblue;
}